{% extends 'layout.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-md">
        <div class="md:flex">
            <div class="w-full p-4 px-5 py-5">
                <div class="text-center mb-6">
                    <h1 class="font-bold text-2xl text-gray-900">Create New Password</h1>
                    <p>Set your new password below</p>
                </div>
                <form action="{% url 'home:new_password' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password1">
                            New Password
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" id="password1" name="password1" type="password" placeholder="New Password" required>
                    </div>
                    <div class="mb-6">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password2">
                            Confirm New Password
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" id="password2" name="password2" type="password" placeholder="Confirm New Password" required>
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit">
                            Set Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
