{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CliniSkills</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
</head>

<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">

    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between items-center">
                <!-- Website Logo -->
                <a href="{% url 'home:index' %}" class="flex items-center py-4 px-2">
                    <span class="font-semibold text-gray-500 text-lg">CliniSkills</span>
                </a>

                <!-- Hamburger Menu for smaller screens -->
                <div class="md:hidden">
                    <button class="outline-none mobile-menu-button">
                        <svg class="w-6 h-6 text-gray-500 hover:text-green-500"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>

                <!-- Primary Navbar items for Desktop -->
                <div class="hidden md:flex items-center space-x-3">
                    <!-- Conditional Links for Authenticated Users -->
                    <a href="{% url 'home:index' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/' %}border-b-4 border-green-500 text-green-500{% endif %}">Home</a>
                    <a href="{% url 'home:services' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/services' %}border-b-4 border-green-500 text-green-500{% endif %}">Services</a>
                    <a href="{% url 'home:about' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/about' %}border-b-4 border-green-500 text-green-500{% endif %}">About</a>
                    <a href="{% url 'home:contact' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/contact' %}border-b-4 border-green-500 text-green-500{% endif %}">Contact</a>
                    {% if user.is_authenticated %}
                    {% if is_subscription_active %}
                        <!-- Links to Lectures and Notes -->
                        <a href="{% url 'lecture:index' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/lectures' %}border-b-4 border-green-500 text-green-500{% endif %}">Lectures</a>
                        <a href="{% url 'note:index' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/notes' %}border-b-4 border-green-500 text-green-500{% endif %}">Notes</a>
                    {% endif %}
                    <a href="{% url 'home:view_profile' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Profile</a>
                    <a href="{% url 'home:logout' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Logout</a>
                    {% else %}
                    <a href="{% url 'home:login' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 {% if path == '/login' %}border-b-4 border-green-500 text-green-500{% endif %}">Log In</a>
                    <a href="{% url 'home:signup' %}" class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300 {% if path == '/signup' %}border-b-4 border-green-500 text-green-500{% endif %}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Mobile Menu for smaller screens -->
        <div class="mobile-menu hidden md:hidden">
            <!-- Mobile Navigation Links Here -->
            <a href="{% url 'home:index' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/' %}border-b-4 border-green-500 text-green-500{% endif %}">Home</a>
            <a href="{% url 'home:services' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/services' %}border-b-4 border-green-500 text-green-500{% endif %}">Services</a>
            <a href="{% url 'home:about' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/about' %}border-b-4 border-green-500 text-green-500{% endif %}">About</a>
            <a href="{% url 'home:contact' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/contact' %}border-b-4 border-green-500 text-green-500{% endif %}">Contact</a>

            <!-- Conditional Links for Authenticated Users -->
            {% if user.is_authenticated %}
            {% if is_subscription_active %}
                <!-- Links to Lectures and Notes -->
                <a href="{% url 'lecture:index' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/lectures' %}border-b-4 border-green-500 text-green-500{% endif %}">Lectures</a>
                <a href="{% url 'note:index' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/notes' %}border-b-4 border-green-500 text-green-500{% endif %}">Notes</a>
            {% endif %}            
            <a href="{% url 'home:view_profile' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/profile' %}border-b-4 border-green-500 text-green-500{% endif %}">Profile</a>
            <a href="{% url 'home:logout' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300">Logout</a>
            {% else %}
            <a href="{% url 'home:login' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/login' %}border-b-4 border-green-500 text-green-500{% endif %}">Log In</a>
            <a href="{% url 'home:signup' %}" class="block py-2 px-2 text-sm text-gray-500 font-semibold hover:text-green-500 transition duration-300 {% if path == '/signup' %}border-b-4 border-green-500 text-green-500{% endif %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <!-- Main Content -->
    <div class="flex-grow mb-4">
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-white shadow-lg p-4 text-center">
        <span class="text-sm text-gray-500 sm:text-center">© 2023 CliniSkills. All Rights Reserved.</span>
        <br>
        <span class="text-sm text-gray-500 sm:text-center">Created by <a href="https://www.linkedin.com/in/divyesh-vishwakarma-621197175/">Divyesh Vishwakarma</a></span>
    </footer>

    <!-- Mobile Menu Javascript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const mobileMenuButton = document.querySelector('.mobile-menu-button');
            const mobileMenu = document.querySelector('.mobile-menu');

            mobileMenuButton.addEventListener('click', function () {
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
